<ion-header >
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button >
        
      </ion-back-button>
    </ion-buttons>
    
  <ion-buttons slot="end">
    <ion-menu-button ></ion-menu-button>
  </ion-buttons>

    <ion-title>my bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hotel</ion-card-subtitle>
      <ion-card-title>Nombre Habitacion</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Fecha,  Piso
    </ion-card-content>
  </ion-card>
</ion-content>
