<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>

    <ion-title>booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-card *ngFor="let hotel of hotel">
    <ion-card-header>
      <ion-card-title>Hotel {{hotel.nombre}}</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->

    </ion-card-header>

    <ion-card-content>
      Fecha
    </ion-card-content>
    <ion-card-content>
     Piso: {{hotel.piso}}
    </ion-card-content>
    <ion-card-content>
      Nombre habitación: {{hotel.habitacion}}
    </ion-card-content>
    <ion-card-content>
      Costo: {{hotel.costo}}
    </ion-card-content>

    <ion-button (click)="redirectRegister()" color="dark" expand="block" fill="solid" shape="round" type="submit">
      <ion-icon slot="start" name="add"></ion-icon>
      Confirmar
    </ion-button>

  </ion-card>
</ion-content>